@charset "utf-8";

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.t-hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
